* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --font-main: 24px;
    --font-title: 32px;

    --color-main: #333;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-main);
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1800px;
    width: 100%;
}

.title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-title);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.btn {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: #d9d9d9;
}

/* HEADER - 1920 */
.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* EVENT - 1920 */
.event {
    padding-top: 40px;
}